/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Voltaire&family=Yusei+Magic&display=swap");

/* VARIABLES ESTABLECIDADAS */
:root {
  /* fuentes  */
  --fuente_primaria: "Voltaire", sans-serif;
  --fuente_secundaria: "Poppins", sans-serif;
  --fuente_alterna: "Yusei Magic", sans-serif;
  /* colores */
  --color_primario: rgb(13, 2, 37);
  --color_secundario: rgb(41, 123, 179);
  --color_fondo: rgb(19, 75, 121);
  --color_hover: rgb(25, 145, 182);
  --color_hover_danger: rgb(190, 16, 16);
  --color_hover_success: rgb(16, 190, 16);
  /* efectos */
  --transicion: all 0.2s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--fuente_primaria);
}
/************************* CONTENEDOR ENCABEZADO DE INFORMACION ****************************************************/
.head_info {
  /* border-top-left-radius: 25px; */
  /* border-top-right-radius: 25px; */
  background-color: var(--color_secundario);
  display: flex;
  align-items: center;
  flex-flow: wrap;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  transition: var(--transicion);
}
/* CONTENEDOR LOGO */
.head_info .logo {
  display: flex;
}
/* LOGO YDJK */
.head_info .logo img {
  width: 50px;
  margin-right: 10px;
}
/* TITULO */
.head_info h5 {
  color: white;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: capitalize;
  font-weight: 300;
}

.wrapper_inner {
  margin: auto;
  position: relative;
}

.wrapper_inner .container {
  margin-top: 35px;
}

.btn_back {
  /* background-color: turquoise; */
  position: absolute;
  top: -6%;
  left: 1%;
  width: 80px;
  height: 30px;
  /* padding: 5px; */
  border-radius: 5px;
  transition: var(--transicion);
}

.btn_back a {
  /* background-color: yellow; */
  color: var(--color_primario);
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn_back:hover {
  background-color: var(--color_primario);
}
.btn_back a:hover {
  color: white;
}

.container {
  /* background-color: blue; */
  /* border-radius: 10px; */
  height: 650px;
  display: flex;
}

.resume {
  width: 800px;
  height: 100%;
  /* background: rgb(250, 58, 10); */
  background: white;
  margin: auto;
  display: flex;
  border-radius: 10px;
  align-items: center;  
  display:flex;
}

.left {
  background: var(--color_primario);
  width: 250px;
  margin-top:-299px;
  height: 350px;
  /* padding: 0 20px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact_wrap {
  /* background: #a7a6a6; */
  width: 90%;
  height: 70%;
}

.left .img_holder {
  /* background: #36e453; */
  width: 200px;
  height: 80%;
  border-radius: 10px;

  display: flex;
  flex-direction: column;s
  align-items: center;
  justify-content: space-around;
}

.left .img_holder img {
  width: 80%; /*******/
  border-radius: 10px;
  object-fit: cover;
}

.left .img_holder .fotoUsuario {
  width: 135px;
  border: none;
}

.pb {
  padding-bottom: 20px;
}

.titulo {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding-bottom: 10px;
  font-family: var(--fuente_primaria);
  color: var(--color_secundario);
  /* color: #fff; */
  position: relative;
  text-align: right;
  margin-bottom: 15px;
}

.titulo::before {
  content: "";
  position: absolute;
  top: 35px;
  right: 0;
  width: 100%;
  height: 3px;
  /* background: #3525af; */
  background: var(--color_secundario);
}

.left .icon {
  font-size: 20px;
  /* color: #9153c9; */
  color: var(--color_secundario);
}

.left .text {
  /* color: #9153c9; */
  color: var(--color_secundario);
  text-transform: uppercase;
  font-size: 13px;
}

.contact {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
}

.contact .li_wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  /* background: rgb(0, 195, 255); */
  justify-content: center;
}

.contact .li_wrap .icon {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.contact .li_wrap .text {
  width: calc(100% -50px);
  word-break: break-word;
  color: #fff;
}

.right {
  width: calc(100% - 250px);
  height: 100%;
  background: white;
  /* padding-top: 50px; */
  border-bottom-right-radius: 10px;
}

.header {
  background: var(--color_primario);
  /* background: yellow; */
  padding: 30px 30px;
  color: #fff;
  height: 350px;
  border-top-right-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header .name {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--color_secundario);
  /* color: #3525af; */
  font-family: var(--fuente_primaria);
  letter-spacing: 2px;
}

.header .about_datos {
  /* background: #3525af; */
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}
.header .about {
  /* margin-top: 20px;
    line-height: 22px; */
  /* background: chartreuse; */
  width: 800%;
  height: 100%;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header .about_nomApe {
  margin-right: 20px;
  margin-top: 15px;
  /* width: 30%; */
  /* font-size: 14px; */
}

.header .about_nomApe .nomApel {
  /* background: none; */
  width: 48%;
  height: 22px;
  background: none;
  border: none;
  font-size: 14px;
  font-family: var(--fuente_alterna);
  border-bottom: 2px solid var(--color_fondo);
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  margin-right: 4px;
}

.header .btn_editar{
  background-color: #292b2f;
  position: absolute;
  width: 40px;
  height: 30px;
  background: white;
  color: var(--color_primario);
  border-radius: 5px;
  font-size: 18px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.right_inner {
  height: 70%;
  padding-left: 30px;
  color: #292b2f;
  /* background: rgb(102, 40, 11); */
}

.campos_contactos {
  /* background: aqua; */
  height: 35%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.li_wrap {
  display: flex;
}
.li_wrap .icon {
  width: 40px;
  height: 30px;
  background: var(--color_primario);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.li_wrap .icon i {
  color: #fff;
}

.contact_input {
  background: none;
  border: none;
  border-bottom: 1.5px solid #fff;
  outline: none;
  color: #fff;
  text-transform: capitalize;
  transition: var(--transicion);
  font-family: var(--fuente_secundaria);
}

.contact_input:focus {
  border-color: var(--color_secundario);
}

.contact_input.right {
  width: 200px;
  color: black;
}

.correo{
 text-transform: lowercase;
}

.btn_user {
  /* background-color: blue; */
  width: 100%;
  height: auto;
  /* background:var(--color_secundario); */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.boton {
  display: inline-block;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  background: var(--color_fondo);
  color: #fff;
  border: 1px solid #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}
.boton.boton_guardar:hover {
  background: #fff;
  color: black;
}

.boton.boton_cancelar:hover {
  background: var(--color_hover_danger);
}


@media (max-width: 900px){
    .resume{
     display: flex;
     position: absolute;
     width:100%;
     top:50px;
  }
  .left{
    width:50%;

  }
  .right {
    width:50%;
  }

 .header{
    padding:10px;
    margin:0px;
    width:100%;
  }
.left .img_holder {
  justify-content:center;
  width:90%;
}
.left .img_holder img{
  justify-content:center;
  width:100%;
}
.contact_input{
  width:100%;
  font-size:10px;
}
.header .name{
  font-size:15px;
  margin:0px;
  padding:0px;
}
.btn_user{
  display: block;
  position:relative;
  justify-content:center;
  font-family:10px;

}
.boton{
  font-size:8px;
}

.btn_back {
  top:-20px;
}
.mensaje{
  position:relative;
  width:100%;
  font-size:10px;
}
}